@font-face {
  font-family: "GT-Sectra";
  src: url("Assets/GT-Sectra-Regular.woff2");

  font-family: "GT-America";
  src: url("Assets/GT-America-Standard-Regular.woff2");
}
html {
	color: black;
}

body {
	font-family: "GT-America";
	background: rgba(255);
	text-align: center;
	color: black;
}

h1 {
	font-size: 68px;
	margin-top: 1%;
	margin-bottom: 2%;
	text-align: center;
	font-family: "GT-Sectra";
}

button {
	font-size: 32px;
	background-color: #ffffff00;
	border: none;
	margin-top: 0;
	text-align: center;
	color: black;
}

h2 {
	font-family: "GT-Sectra";
	font-size: 42px;
	margin-bottom: 0;
	margin-left: 10%;
	margin-top: 5%;
	text-align: left;
}

h4 {
	margin: 0;
	font-size: 28px;
	font-family: "GT-Sectra";
}

h5 {

	font-size: 18px;
	margin: 2%;
}

a {

	text-decoration: none;
}


#top-bar {
	width: 80%;
	margin-top: 0;
	border-color: black;
}

button:hover {
	background-color: white;
}

#archive {
	margin: 5% 10% 5% 10%;
	display: grid;
  	grid-template-columns: auto auto auto;


}

#archive-file {
	padding: 10%;
	border-right: solid black 2px;
	margin: 0;
	text-align: left;

}

#liveStreamControls {
	border: solid black 2px;
	text-align: center;
	max-width: 200px;
	padding: .5%;
	margin: auto auto;

}

#grid-id {
	width: 100%;
	margin-top: 8%;
	border-color: black;
}

#addButton {
	margin: 1% 2% 0 95%;
	color: black;
}


#blur {
	position: absolute;
	width: 100%;
	height: 2000px;
	z-index: -1;
	backdrop-filter: blur(40px);
}







