@font-face {
  font-family: "GT-Sectra-Fine-Trial-Regular";
  src: url('GT-Sectra-Fine-Trial-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

html {
	color: black;
	scroll-behavior: smooth;
}

body {
	font-family: "Arial";
	background: rgba(255);
	color: black;
	margin: 0;
}

h1 {
	font-size: 78px;
	margin-top: 5%;
	/*margin-bottom: 2%;*/
	margin-left: 40%;
	font-family: "GT-Sectra-Fine-Trial-Regular";
	/*border: 2px dashed black;*/
}

h4 {
	margin: 0;
	font-size: 28px;
	font-family: "GT-Sectra-Fine-Trial-Regular";
}

h5 {
	font-size: 18px;
	margin: 2%;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 1.5em;
	text-align: center;
	font-family: "Arial"
}

a:hover {
	filter: blur(2px);
}

button {
	font-size: 24px;
	background-color: #ffffff00;
	border: none;
	margin-top: 0;
	text-align: center;
	color: black;
}

button:hover {
	filter: blur(2px);
}

#landingPageSection {
}

#heading {
	/*display:inline;*/
	/*border: 2px dashed black;*/
	/*display:flex;*/
	/*margin-bottom: 0;*/
}

#recordMessage {
	border: 2px dashed black;
	max-width: 20%;
	padding: 1% 4%;
	margin: 2% 0 -11% 2%;
	/*border-radius: 20px;*/
	float: left;

}

#recordingStatus {
	text-align: center;
}

#startRecordButton {
	text-align: center;
	margin-left: 40%;
}

#startRecordSection {
	text-align: center;
}


#title {
	font-size: 68px;
	/*margin-top: 2%;*/
	/*margin-bottom: 2%;*/
	text-align: center;
	font-family: "GT-Sectra-Fine-Trial-Regular";
	/*border: 2px dashed black;*/
}


#liveStreamControls {
	text-align: right;
	max-width: 20%;
	padding: .5%;
	margin-right: 2%;
	margin-top: -9%;
	float: right;
	/*border: 2px dashed black;*/
	/*margin-right: 2%;*/
/*	margin-top: -7%;*/
}

#zipcodeSearchBox {
	text-align: center;
	margin: 16% 0 22%;
}

#text-box {
	font-size: 1em;
	background-color: #00000020;
	border: 1px solid grey;
	padding: 1.5%;
	/*border-radius: 10px;*/
}

#submit {
	font-size: 1em;
	background-color: #00000020;
	border: 1px solid grey;
	padding: 1.5%;
	/*border-radius: 10px;*/
	margin-left: .5%;
}

#lowerNavBar {
	display:inline;
	text-align: center;
}

#archiveSection {
	margin-top: 5%;
}

#archive {
	margin: 10% 10% 5% 10%;
	padding-top: 4%;
	display: grid;
  	grid-template-columns: auto auto auto;
}

#top-bar {
	width: 80%;
	margin-top: 0;
	border-color: black;
}

#archive-file {
	padding: 12%;
	border-right: solid black 2px;
	margin: 0;
	text-align: left;
}

#grid-id {
	width: 100%;
	margin-top: 8%;
	border-color: black;
}

#blur {
	position: absolute;
	width: 100%;
	height: 1700px;
	margin-top: -5%;
	z-index: -1;
	backdrop-filter: blur(40px);
}

/*SPECIFIC TO ABOUT PAGE*/

#aboutParagraph {
	max-width: 70%;
	margin: 8% auto;

}

h2 {
	font-family: "GT-Sectra-Fine-Trial-Regular";
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 5%;
	text-align: left;
}

p {
	text-align: justify;
	line-height: 1.6;
	margin-bottom: 10%;
}





